
@* =====TEMPLATES===== *@



@* Prop Template *@

<script type="text/template" id="prop-template">
    <div class="well">
        <div class="centerText">
            <h3 style="font-size: 22px;"><%= bet %></h3>
        </div>
        <br />
        <button data-target='<%= id %>' id="noBtn<%= id %>" class="btn btn-mini btn-default noBtn" data-stuff="<%= id %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button data-target='<%= id %>' id="yesBtn<%= id %>" class="btn btn-mini btn-default pull-right yesBtn" data-stuff="<%= id %>">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</script>
