
@* =====TEMPLATES===== *@



@* Prop Template *@

<script type="text/template" id="prop-template">
    <div class="well">
        <div class="centerText">
            <h3 style="font-size: 22px;"><%= Bet %></h3>
        </div>
        <br />
        <button data-target='<%= Id %>' id="noBtn<%= Id %>" class="btn btn-mini btn-default noBtn" data-stuff="<%= Id %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button data-target='<%= Id %>' id="yesBtn<%= Id %>" class="btn btn-mini btn-default pull-right yesBtn" data-stuff="<%= Id %>">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</script>
