@* =====TEMPLATES===== *@


<!-- =================================================== -->
<!--      PROP COMPOSITE TEMPLATE                                  -->
<!-- =================================================== -->

<script type="text/template" id="prop-container-template">
    <div>
        <h1 style="text-align: center;">Prop Bets</h1>
        <div id="prop-bet-container"></div>
    </div>
    <div style="text-align: center">
        <br />
        <button id="submitProp" class="btn btn-primary ladda-button disabled" data-style="zoom-out"><span class="ladda-label">Submit Prop Bets</span></button>
    </div>
</script>

<script type="text/template" id="prop-template">
    <div class="well">
        <div class="centerText">
            <h3 style="font-size: 22px; margin-left: 50px; margin-right: 50px;"><%= bet %></h3>
        </div>
        <br />
        <button data-target='<%= id %>' id="noBtn<%= id %>" class="btn btn-mini btn-default noBtn" data-stuff="<%= id %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button data-target='<%= id %>' id="yesBtn<%= id %>" class="btn btn-mini btn-default pull-right yesBtn" data-stuff="<%= id %>">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</script>


<!-- =================================================== -->
<!--      HOME TEMPLATE                                  -->
<!-- =================================================== -->


<script type="text/template" id="home-template">
    <div class="container">
        <div class="jumbotron">

            <h1>Welcome Back Bitch!</h1>
            <p class="lead">Happy Ball 2.0, bring it on ladies</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>Weekly</h2>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Leader</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mighty Morphine Power Rangers</td>
                            <td>460</td>
                        </tr>
                        <tr>
                            <td>The Polish Hammer</td>
                            <td>410</td>
                        </tr>
                        <tr>
                            <td>Thunder Pussies</td>
                            <td>360</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p><a data-target="Seasonal" class="btn btn-default change-page">Place Bets &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Seasonal</h2>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Leader</th>
                            <th>Stock Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Smooth Criminals</td>
                            <td>57.71</td>
                        </tr>
                        <tr>
                            <td>Monstars</td>
                            <td>43.20</td>
                        </tr>
                        <tr>
                            <td>Man the Harpoons</td>
                            <td>39.40</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p><a data-target="NicksBets" class="btn btn-default change-page">Place Bets &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Week 9 Winner</h2>
                <div class="alert alert-success">
                    <p>
                        Gah Tyler, apparently my style of betting for only Volpes to win failed. Oh and dustin, suck it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>


<!-- =================================================== -->
<!--       KING OF THE WEEK TEMPLATE                                  -->
<!-- =================================================== -->

<script type="text/template" id="king-container-template">
    <div class="container">
        <h1 style="text-align: center;">King of the Week</h1>
        <ul id="king-bet-container" class="list-group"></ul>
    </div>
    <div style="text-align: center">
        <br />
        <button id="submitKing" class="btn btn-primary ladda-button disabled" data-style="zoom-out"><span class="ladda-label">Submit Prop Bets</span></button>
    </div>
</script>

<script type="text/template" id="king-template">

        <span class="badge"><%= test %></span>
        <%= itemName %>

</script>



<!-- =================================================== -->
<!--      MAP TEMPLATE                                   -->
<!-- =================================================== -->

<script type="text/template" id="map-template">
    @*<div id="quiz"><i class="glyphicon glyphicon-tower"></i></div>*@


    <!-- Indicates a successful or positive action -->
    @*<div id="geo-quiz-alert" class="alert alert-warning alert-dismissible" role="alert">The question should be something liket this</div>*@


    <div id="geo-quiz-alert" class="alert alert-warning alert-dismissible" role="alert">
        <button id="close-quiz" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>

    <div class="btn-group btn-group-lg btn-group-vertical quiz">
        <button id="quiz-start" type="button" class="btn btn-default disabled"><i class="glyphicon glyphicon-tower"></i></button>
        <button id="quiz-submit" type="button" class="btn btn-default disabled"><i class="glyphicon glyphicon-map-marker"></i></button>
        <button id="quiz-results" type="button" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i></button>
        <button id="quiz-people" type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
        <button id="quiz-question" type="button" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></button>
    </div>


    <span id="centerpoint" class="" style="display: none;"><span class="shadow"></span><span class="x"></span><span class="marker"></span></span>
    <div id="geoClock"></div>
    <div id="modal"></div>
    <div id="map"></div>

</script>



<!-- =================================================== -->
<!--      GEO RESULTS COMPOSITE TEMPLATE                 -->
<!-- =================================================== -->

<script type="text/template" id="geo-results-modal-container-template">

    <div id="geoResultsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Geo Master  <span class="glyphicon glyphicon-tower"></span></h4>
                </div>
                <div class="modal-body">

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Leader</th>
                                <th>Distance from target (Miles)</th>
                                <th>Time spent (Seconds)</th>
                            </tr>
                        </thead>
                        <tbody id="geo-results-container"></tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</script>


<script type="text/template" id="geo-results-template">

    <td><%= teamName %></td>
    <td><%= distanceAway %></td>
    <td><%= time %></td>

</script>

