
@* =====TEMPLATES===== *@

@* Prop Template *@
<script type="text/template" id="prop-template">
        <div style="text-align: center">
            <h1>Prop Bets</h1>
        </div>

        <div id="nicksdiv">
        </div>

        <div style="text-align: center">
            <br />
            <button id="submitNick" style="margin-bottom: 50px" class="btn btn-large btn-primary">Submit Prop Bets</button>
        </div>
</script>

