
@* =====TEMPLATES===== *@


<!-- =================================================== -->
<!--      PROP COMPOSITE TEMPLATE                                  -->
<!-- =================================================== -->

<script type="text/template" id="prop-container-template">
    <div>
        <h1>Prop Bets</h1>
        <div id="prop-bet-container" class="well"></div>
    </div>
    <div style="text-align: center">
        <br />
        <button id="submitProp" style="margin-bottom: 50px" class="btn btn-large btn-primary">Submit Prop Bets</button>
    </div>
</script>

<script type="text/template" id="prop-template">
    <div class="centerText">
        <h3 style="font-size: 22px;"><%= bet %></h3>
    </div>
    <br />
    <button data-target='<%= id %>' id="noBtn<%= id %>" class="btn btn-mini btn-default noBtn" data-stuff="<%= id %>">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button data-target='<%= id %>' id="yesBtn<%= id %>" class="btn btn-mini btn-default pull-right yesBtn" data-stuff="<%= id %>">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</script>


<!-- =================================================== -->
<!--      HOME TEMPLATE                                  -->
<!-- =================================================== -->


<script type="text/template" id="home-template">
    <div class="jumbotron">
        <h1>Welcome Back Bitch!</h1>
        <p class="lead">Happy Ball 2.0, bring it on ladies</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Weekly</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Leader</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mighty Morphine Power Rangers</td>
                        <td>460</td>
                    </tr>
                    <tr>
                        <td>The Polish Hammer</td>
                        <td>410</td>
                    </tr>
                    <tr>
                        <td>Thunder Pussies</td>
                        <td>360</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p><a data-target="Seasonal" class="btn btn-default change-page">Place Bets &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Seasonal</h2>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Leader</th>
                        <th>Stock Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Smooth Criminals</td>
                        <td>57.71</td>
                    </tr>
                    <tr>
                        <td>Monstars</td>
                        <td>43.20</td>
                    </tr>
                    <tr>
                        <td>Man the Harpoons</td>
                        <td>39.40</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p><a data-target="NicksBets" class="btn btn-default change-page">Place Bets &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Week 9 Winner</h2>
            <div class="alert alert-success">
                <p>
                    Gah Tyler, apparently my style of betting for only Volpes to win failed. Oh and dustin, suck it.
                </p>
            </div>
        </div>
    </div>
</script>

