@charset "UTF-8";

.nick-container {
    padding-top: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/**Nick Volpe Styles Start Right Hurrrr*/

.adminMaxWidth {
    max-width: 700px;
}

/*body {
    margin: 0;
    padding: 0;
}*/

.loc-icon-on {
    color: purple
}

.loc-icon-off {
    color: black
}


#prop-bet-text {
    font-size: 22px; 
    margin-left: 50px; 
    margin-right: 50px;
}

#kingQuestionContainer {
    font-size: 20px; 
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /*margin-top: 50px;*/
}

/*#quiz-start {
    position: absolute;
    z-index: 2;
    left: 20px;
    font-size: 15px;
    top: 155px;
    cursor: pointer;
}

#quiz-results {
    position: absolute;
    z-index: 2;
    left: 20px;
    font-size: 15px;
    top: 215px;
    cursor: pointer;
}*/

.quiz {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 15px;
    top: 65px;
    cursor: pointer;
}

#geo-quiz-alert {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    z-index: 5;
    color: #000000;
    border-color: #000000;
    background-color: #F5F5F5;
    font-weight: bold;
    top: 55px;
}


.king-item {
    padding: 25px;
    margin-bottom: 10px;
}

#king-bet-container {
    font-size: 2em;
    margin: 10px;
    /*margin: -45px 0 0 -70px;*/
}


#geoClock {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 140px;
    height: 68px;
    margin: -45px 0 0 -70px;
}



/* nav */

.container-fluid11 > .navbar-header {
    display: block;
    margin: 0;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #777;
    color: #777;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.activeNav {
    color: #428bca;
}

.chat-item:hover {
    background-color: #222;
    color: #669900;
}

/*.navbar-nav > li > a {
    padding-top: 10px;
}*/

ul.nav.navbar-nav li {
    display: inline-block;
    width: auto;
    float: none;
}

.navbar-inverse .nav span {
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
}


.navbar-inverse .nav span {
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
}


#aside {
    /*display: block;*/
    clear: both;
    width: 350px;
    left: 0;
    top: 50px;
    overflow: auto;
}

/*HELPER CLASSES*/

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-mobile {
    display: none;
}
